// Colors
$grey: #424242;
$grey_light: #bdbdbd;
$grey_dark: #1b1b1b;

// Purple
$purple: #8e24aa;
$purple_light: #c158dc;
$purple_dark: #5c007a;

// Breakpoints
$sm_break: 800px;
$md_break: 1000px;
$lg_break: 1400px;
$xl_break: 1600px;

// Base font and gutter
$headings: 'Inconsolata', monospace;
$open_sans: 'Open Sans', sans-serif;
$base_font_size: 24px;
$gutter: 12px;
$number_of_columns: 12;
